## Build & Publish Output
bin/
obj/
dist/
publish/
published/
release_pkg/
*.zip

## .NET User & State Files
*.user
*.suo
*.userosscache
*.sln.docstates

## IDEs & Editors
.vs/
.vscode/
.idea/
*.swp
*~

## OS Files
Thumbs.db
Desktop.ini
.DS_Store

## Packages
*.nupkg
*.snupkg
